/* @group Global Styles */

/*
 Largeur Maximale des pages
*/

.content-sidebar-wrap {
	max-width: 896px;
}

/* épaisseur du bold (le thème met 600) */
.entry-content b,
.entry-content strong {
	font-weight: 700;
}


/* Le rouge des liens */

.menu-item a:hover, 
.menu-item a:focus, 
.menu-item.current-menu-item > a {
  color: #dd3333;
}

/* @end */

/* @group Gutenblocks */

.wp-block-cover-text a {
	color: #d10f0f;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 1em;
	border: 0;
	padding: 0.1em 0.8em;
	box-shadow: none !important;
	word-break: keep-all;
	display: block;
}

.wp-block-cover-text a:hover {
	background: rgba(255, 255, 255, 0.9);
}

/* @end */

/* @group FrontPage */

/*
 * Correctif pour boutons d'inscription Mailchimp
 * Wdiget numéro 9
*/
@media (min-width: 768px) {
	.front-page-9 input {
	  margin-bottom: 1em;
	}
}

/*
 Before Header Widget
 Il faut surcharger la couleur de fond du widget:
*/

.before-header #simple-social-icons-3 ul li a, 
.before-header #simple-social-icons-3 ul li a:hover, 
.before-header #simple-social-icons-3 ul li a:focus {
	background-color: transparent !important;
	font-size: 16px;
	border: 0px;
}

/* FrontPage taille des widgets */

.home .content .widget-title {
	margin-top: 50px;
	margin-top: 5rem;
}

/* @end */


/* @group Portfolio */

/* Correctif taille image
 * Pour les blocs portfolio
*/

.post-type-archive-portfolio .portfolio .entry-content,
.portfolio-featured-image,
.portfolio-featured-image a,
.portfolio-featured-image img,
.front-page-5 .display-posts-listing a,
.front-page-5 .display-posts-listing img
 {
	height: 100%;
}

.portfolio-featured-image a {
	display: block;
}

.portfolio-featured-image img,
.front-page-5 .display-posts-listing img {
	object-fit: cover;
}

/* 
 * Header Padding - for portfolio items
 *
 * Needed when title is longer than "Project #1" !
 *
*/
.post-type-archive-portfolio .portfolio .entry-title {
	padding: 0 1em;
}

/* @end */


/* @group Testimonials */

/*
 * Before / After Decoration
*/

#genesis-content .strong-view.modern .testimonial-content:before {
	content: '“';
	display: block;
	font-size: 80px;
	font-size: 8rem;
	font-family: 'Georgia', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif;
	line-height: 1;
	margin: 0 0 -0.5em;
	color: rgba(42, 49, 57, 0.2);
	position: relative;
	width: auto;
	left: 0;
	top: 0;
}

#genesis-content .strong-view.modern .testimonial-content:before {
	top: 0;
}

#genesis-content .strong-view.modern .testimonial-content:after {
  content: "";
  right: 0;
  bottom: 0;
}


#genesis-content .strong-view.modern .testimonial-content {
  font-size: inherit;
  font-style: italic;
  margin: 0 56px;
  position: relative;
}

/* Témoignage: Nom */
#genesis-content .strong-view.modern .testimonial-name {
	font-size: 1em;
	color: #2a3139;
}

/* Témoignage: Fonction */
#genesis-content .strong-view.modern .testimonial-company {
	font-size: small;
	margin-bottom: 1em;
}

#genesis-content .strong-view.modern .testimonial-company a {
	text-decoration: none;
}

/* Dot non-selectionné */
#genesis-content .strong-view.pager-style-buttons .wpmslider-pager-link:before {
	content: "\f10c"; /* cercle vide */
	content: "\f111"; /* cercle rempli */
	/*color: #999;*/
	opacity: 0.3;
	transition: all .5s linear 0s;
}
/* Actif */
#genesis-content .strong-view.pager-style-buttons .wpmslider-pager-link.active:before {
	opacity: 1;
}

/* @end */
